!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Starter Template for Bootstrap

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header#site-header.header.section.light
      .container
        .row
          #logo.col-29
            %a{:href => "http://www.solamac.com"}
              = image_tag("Solamac-Logo-Colour.png", :class => "logoImage")

          #header-widgets.col-7
            %nav#header-social.text-right
              %a.icon.circle.tooltip{:href => "#", :title => "Find us on Facebook"}
                %i.fa.fa-facebook
              %a.icon.circle.tooltip{:href => "#", :title => "Follow us on Twitter"}
                %i.fa.fa-twitter
              %a.icon.circle.tooltip{:href => "#", :title => "Google Plus"}
                %i.fa.fa-google-plus

            %nav#site-nav.nav.horizontal.text-right
              %ul.dropdown
                %li.mega-menu.full
                  %a{:href => "http://www.solamac.com/employer-services.html"} Employers
                %li.mega-menu
                  %a{:href => "http://www.solamac.com/candidate-services.html"} Candidates
                %li
                  %a{:href => "http://www.solamac.com/work-in-canada.html"} Work In Canada
                %li
                  %a{:href => "http://www.solamac.com/contact.html"} Contact
                %li
                  = link_to('Apply', new_form_path)


    .masterContainer
      = yield
